
@import "./components/buttons.css";

/*


. --> clase
# --> ID


[] --> Atributo
[=]
[*=]
[$=]


:focus
:hover


:nth-child
:last-child


::first-letter
::selection


*/



body {
  display: flex; /* Activa Flexbox */
  flex-direction: column; /* Coloca los elementos en orden vertical */
  align-items: center; /* Centra los elementos horizontalmente */
  justify-content: center;
}


.wrapper {
  height: 200px;
  width: 50%;
  margin: 20px;
  background-color: grey;


  box-shadow: 20px 20px 20px #999;
}


.sample {
  margin: 20px;
    padding-top: 10px;
    width: 100%;




    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: center;


}


.h1tittle{
    width: 100%;
    padding:20px;
    background-color:  hsl(150, 100%, 90%);
    color: black;
   
   
}


.container {
  margin: 20px;
}


.bright {
  padding: 40px;
  background-color: black;


  color: white;
  text-shadow: 0px 0px 20px rgb(0, 255, 0), 0px 0px 20px rgb(0, 255, 0),
    0px 0px 20px rgb(0, 255, 0);
}


.tresd {
  padding: 40px;


  text-shadow: 1px 1px 0px rgb(230, 230, 230), 2px 2px 0px rgb(200, 200, 200),
    3px 3px 0px rgb(180, 180, 180), 4px 4px 0px rgb(160, 160, 160);
}


img.fs {
  filter: drop-shadow(6mm -6mm 4mm rgb(160 0 210));
}


.galeria {
    width: 100%;
    text-align: center;
    background-color: #040404;


    display: flex;
    flex-direction: row;
    justify-content: center;


    flex-wrap: wrap;
    flex: 200px 200px;
}


.galeria img {
  width: 250px;
  margin: 5px;
  transition: filter 1s ease, transform 0.4s ease;
  filter: grayscale(1) brightness(0.6);
}


.galeria img:hover {
  filter: grayscale(0) brightness(1.1) saturate(1.3);


  transform: scale(1.05);
}


.backdrop {
  height: 600px;
  width: 100%;
  margin: 20px;
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  background-image: url("../img/img2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.caja {
  font-family: Arial, Helvetica, sans-serif;
  width: 300px;
  height: 90%;
  padding: 0px;
  margin: 0px auto;
  background: rgba(0, 255, 255, 0.3);
  border-radius: 10px;
  backdrop-filter: blur(2px);
  text-align: center;
}




.lineargrad {
  margin: 20px;
  height: 50px;
  width: 100px;
  background: repeating-linear-gradient( #f00, #f80, #ff0, #0f0, #00f, #60f, #c0f, #f00 100px);


}


.radgrad {
  margin: 20px;
  height: 50px;
  width: 100px;
  background: repeating-radial-gradient(circle, #fff, #666 25%);


}




.patron {
  margin: 20px;
  height: 50px;
  width: 100px;
  background:
    radial-gradient(circle at 0% 50%, rgba(96, 16, 48, 0) 9px, #613 10px, rgba(96, 16, 48, 0) 11px) 0px 10px,
    radial-gradient(at 100% 100%, rgba(96, 16, 48, 0) 9px, #613 10px, rgba(96, 16, 48, 0) 11px),#8a3;
  background-size: 20px 20px;


}




.backdropPatron {
  margin: 20px;
  height: 50px;
  width: 100px;
  background:
    radial-gradient(circle at 0% 50%, rgba(96, 16, 48, 0) 9px, #613 10px, rgba(96, 16, 48, 0) 11px) 0px 10px,
    radial-gradient(at 100% 100%, rgba(96, 16, 48, 0) 9px, #613 10px, rgba(96, 16, 48, 0) 11px),#8a3;
  background-size: 20px 20px;;
}


.contgrad{
  background-color: grey;
  width: 100%;
  height: 400px;


  display: flex;
  flex-direction: row;


 
  justify-content: space-around ;
  align-items: flex-end;


}

